*{
  margin: 0%;
  padding: 0%;  
} 
body{
    background-color: black;
}
header{
    height: 100px;
    background-color: black;
}

header .detail a{
    font-size: 25px;
    color: rgb(241, 40, 0);
    text-decoration: none;
    position: absolute;
    top: 35px;
    left: 120px;
}
header button{ 
    background-color:rgb(241, 40, 0) ;
    font-size: 15px;
    position: absolute;
    top: 35px;
    right: 100px;
    padding: 10px;
}
a.one{
    color: white;
    position: absolute;
    top: 40px;
    left: 500px;
    

}
a.two{
    color: white;
    position: absolute;
    top: 40px;
    left: 600px;
}
a.three{
    color: white;
    position: absolute;
    top: 40px;
    left: 720px; 
}
a.four{
    color: white;
    position: absolute;
    top: 40px;
    left: 850px; 
}
a.five{
    color: white;
    position: absolute;
    top: 40px;
    left: 1000px; 
}
.name {
    position: absolute;
    top: 180px;
    left: 150px;
    display: flex;
    align-items: center;
    gap: 7cm;
}   
.name h1{
    font-size: 40px;
    color:rgb(241, 40, 0) ;
}
.name h2{
    color: white;
}

.photo img{
    width: 500px;
    height: 500px;
}
#About {
    margin-top: 800px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    gap: 5cm;
}
#About img{
    width: 500px;
    height: 500px;
}
#About h1{
    font-size: 40px;
    color: white;
}
#About h2{
    color:rgb(241, 40, 0);
}
#About p{
    margin-top: 8px;
    color: rgb(191, 185, 185);
    margin-right: 10px;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.container form{
    margin-top: 150px;
}
form label {
    display: block;
    margin: 10px 0 5px;
    color: white;
    margin-top: 40px;
    margin-left: 90px;
}

form input, form textarea {
    width: 50%;
    padding: 10px;
   
    margin-bottom: 10px;
    margin-left: 90px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.container button{
    margin-top: 20px;
    margin-left: 120px;
    padding: 10px 20px;
    background:#333; 
    color: #fff;
}

 button:hover {
    background: #555;
}
